* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    position: relative;
    font-family: 'Playfair Display', serif;
}

.hero-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45);
    z-index: -1;
}

.selected-color {
    color: rgb(38, 67, 67);
}

.home {
    position: relative;
    background-image: url(./img/home-hq.jpg);
    background-size: cover;
    background-position: center;
    height: 90vh;
    z-index: 0;
}

.home .text-main {
    font-size: 9rem;
    font-family: 'Tangerine', cursive;
}

.home .text-subtitle {
    font-family: 'Cinzel', serif;
}

.home .text-motto {
    font-size: 3rem;
}

.home-home .btn {
    font-size: 2.5rem;
}

/* nawigacja */

nav {
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.4);
}

.navbar {
    z-index: 2;
}

.navbar-brand {
    font-family: 'Tangerine', cursive;
    font-size: 3rem;
    color: rgb(38, 67, 67);
    font-weight: bold;
}

.navbar-brand i {
    font-size: 3rem;
}

.nav-item {
    font-size: 2rem;
    text-transform: uppercase;
}

.dropdown-item {
    font-size: 1.5rem;
    text-transform: uppercase;
}

.navbar-toggler-icon {
    font-size: 1.5rem;
}

[id] {
    scroll-margin-top: 56.25px;
}

@media(min-width: 992px) {
    [id] {
        scroll-margin-top: 46px;
    }
}

main h2 {
    text-transform: uppercase;
    font-size: 2.5rem;
}

/* o nas  */

.aboutus-img {
    background-position: center;
    background-size: cover;
    background-image: url(./img/aboutus.jpg);
    height: 280px;
    opacity: .9;
    transition: opacity .3s, transform .3s;
}

.aboutus-img:hover {
    opacity: 1;
    transform: scale(1.1);
}

@media(max-width:1200px) {
    .aboutus-img {
        opacity: 1;
    }

    .aboutus-img:hover {
        transform: scale(1);

    }
}

.aboutus-img-active {
    overflow: hidden;
}

.aboutus-text-main {
    font-size: 1.6rem;
}

.aboutus-text-subtitle {
    font-size: 1.3rem;
}

.aboutus-text-subtitle .btn {
    font-size: 1.5rem;
}

.aboutus-boxes i {
    font-size: 3rem;
}

.aboutus-boxes .card-title {
    font-size: 2rem;
}

.aboutus-boxes .card-text {
    font-size: 1.5rem;
}

.card-color {
    background-color: rgba(180, 228, 238, 0.501);
}

/* galeria  */

.carousel {
    width: 60vw;
}

#gallery {
    background-color: rgba(180, 228, 238, 0.223);
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 1.6rem;
}

h5 {
    font-size: 2rem;
}

@media(max-width: 768px) {
    .carousel {
        width: 90vw;
    }
}

/* oferty */

.cards-offers .card-body .card-title {
    font-size: 2rem;
}

.cards-offers .card-text {
    font-size: 1.6rem;
}


@media(min-width: 1200px) {
    .cards-offers .card {
        transition: .3s;
    }

    .cards-offers .card:hover {
        transform: scale(1.2);
    }
}

.card-body .btn {
    /* background-color: rgba(180, 228, 238, 0.501); */
    text-transform: uppercase;
    font-size: 1.5rem;
}

/* kontakt */

.contact {
    background-color: rgba(178, 239, 222, 0.223);
}

.contact-info {
    font-size: 1.7rem;
}

.btn-contact {
    font-size: 1.5rem;
}

.contact label,
.contact input,
.contact select,
.contact textarea {
    font-size: 1.6rem;
}

/* stopka */

footer {
    background-color: rgba(38, 145, 115, 0.87);
    font-family: 'Cinzel', serif;
    font-size: 1.6rem;
}

/* modal  */

.modal-content {
    background-color: rgb(228, 245, 248);
}

.modal .card-title {
    font-size: 1.8rem;
    text-transform: uppercase;
}

.modal-content label,
.modal-content select,
.modal-content .new-user,
.modal-content input {
    font-size: 1.6rem;
}

.modal-content .btn {
    font-size: 1.5rem;
}

.btn-outline-dark {
    background-color: rgba(180, 228, 238, 0.223)
}

/* cookies */

.hide {
    display: none;
}

.cookie-box {
    position: fixed;
    bottom: 0;
    padding: 2em;
    height: 300px;
    width: 100%;
    text-align: center;
    font-size: 1.8rem;
    background-color: #fff;
    opacity: 0;
    transform: translateY(100%);
    animation: show-cookies .5s .5s forwards;
    background-color: rgb(192, 233, 219);
    z-index: 20;
}

.cookie-box::before {
    position: absolute;
    top: -130px;
    right: 50px;
    width: 300px;
    height: 300px;
    background-image: url(./img/cookie.png);
    background-size: contain;
    background-repeat: no-repeat;
    content: '';
}

.cookie-btn {
    margin-top: 1em;
    padding: 0.5em 1em;
    font-size: 1.6rem;
    border: 1px solid black;
    border-radius: 3px;
    background-color: rgba(38, 145, 115, 0.87);
    color: #fff;
    transition: background-color .3s;
    cursor: pointer;
}

.cookie-btn:hover {
    background-color: #000;
}

@keyframes show-cookies {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.policy {
    text-decoration: none;
    color: #000
}

.policy:hover {
    color: rgb(38, 67, 67);
}

@media(max-width:1200px) {
    .cookie-box {
        font-size: 1.2rem;
    }

    .cookie-box::before {
        top: -45px;
        right: 50px;
        width: 100px;
        height: 100px;
    }
}

/* ----------podstrona policy------- */

.policy-title {
    font-size: 5rem;
}

@media(max-width:1200px) {
    .policy-title {
        font-size: 3rem;
    }
}

.statute-text,
.policy-text {
    font-size: 1.6rem;
}

.policy-header-text {
    font-size: 2rem;
    font-weight: bold;
}

.home-logo {
    border-bottom: 1px solid black;
    background-color: #fff;
}

.home-logo a {
    text-decoration: none;
    font-size: 3rem;
    color: rgb(38, 67, 67);
}

.home-logo a:hover {
    color: black
}